<div class="container ">
  <div class ="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <!-- Marketing -->
        <div class="marketing">
          <div class="app-meta">
            {% if site.enable.app_icon %}
              <img
                class="app-icon"
                style="min-width: 92px;"
                height="auto"
                {% if site.app.icon %} src="{{ site.app.icon }}"{% endif %}
              />
            {% endif %}
            <span class="app-name">{{ site.app.name }}</span>
          </div>

          {% if site.marketing_header %}
          <h2 class="marketing-header">{{ site.marketing_header }}</h2>
          {% endif %}

          <p class="marketing-desc">{{ site.marketing_desc }}</p>
          <div class="download-buttons">
            <a href="https://itunes.apple.com/us/app/trust-ethereum-wallet/id{{ site.app.ios_id }}">
              <img class="centered" src="https://devimages-cdn.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg">
            </a>

            {% if site.app.android_id %}
            <a href="https://play.google.com/store/apps/details?id={{ site.app.android_id }}">
              <img class="centered" width="150" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png">
            </a>
            {% endif %}
          </div>
        </div>
      </div>


      <div class="col-sm-6">

        <!-- App Screenshot(s) -->
        <div class="device {{ site.device }}">
          <img
            class="app-screenshot"
            {% if site.app.screenshot %}src="{{ site.app.screenshot }}"{% endif %}
          />
        </div>
      </div>
    </div>

    <div class="row partners">
      <h3 style="text-align: center;">Trusted By</h3>
      <br />
      <div class="col-sm-4 partner">
          <a href="https://oracles.org/">
            <img src="images/partners/oracles@2x.png" />
          </a>
      </div>
      <div class="col-sm-4 partner">
          <a href="https://canya.io/">
            <img src="images/partners/canya@2x.png"/>
          </a>
      </div>
      <div class="col-sm-4 partner">
        <a href="https://bitclave.com">
          <img src="images/partners/bitclave@2x.png"/>
        </a>
      </div>
    </div>
  </div>
</div>
