---
---

@import "variables";

//
// BASE
//

html,
body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
  {% if site.background_color %}
  //background-color: {{ site.background_color }};
  {% endif %}

  {% if site.background_image %}
  background: linear-gradient(rgba(59, 61, 64, 0.5), rgba(59, 61, 64, 0.5)), url(../../{{ site.background_image }}) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  {% endif %}

  {% if site.text_color %}
  color: {{ site.text_color }};
  {% endif %}

  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}

a:hover,a:visited,a:active,a:link {
  text-decoration: none;
  color: #ffffff;
}

a.footer-links:hover {
    opacity: 0.65;
    color: #ffffff;
}

.home {
  background: linear-gradient(to top, #2e91db 0%, #3375BB 100%); 
  padding-bottom: 50px;
}

//
// LAYOUT / SECTIONS
//

.container {
  max-width: 980px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.main {
  position: relative;
  min-height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer {
  padding-bottom: 40px;
  background-color: #233240;
}

//
// Marketing
//

.marketing {
  text-align: center;
}

.app-meta {
  margin-bottom: 20px;
  font-size: 32px;
}

.app-icon {
  display: block;
  margin: 0 auto 10px;
  border-radius: 15px;
  width: 92px;
}

.marketing-desc {
  max-width: 450px;
  font-weight: 250;
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 40px;
}

//
// Download Buttons
//

.download-buttons {
  margin-top: 40px;
  margin-bottom: 45px;
}

.download-buttons-store {
  height: 40px;
}

img.centered.download-buttons-store {
    margin-right: 15px;
}

//
// Social
//

.social {
  padding-top: 60px;
  text-align: center;
  background-color: #233240;
}

.social-links {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links li {
  display: inline-block;
  margin: 12px;
}

.fa-lg:hover, .fa-lg:visited {
  opacity: 0.65;
  color: #ffffff;
}

.links {
  margin-top: -12px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links li {
  display: inline-block;
  margin: 12px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 300;
}

//
// Device
//

.device {
  margin: auto;
}

.features {
  padding: 20px 20px 0px 20px;
}

.partners h3 {
  padding: 20px 20px 0px 20px;
  font-weight: 700;
  font-size: 24px;
  color: #2C3E50;
}

.feature-image {
  height: 80px;
  opacity: 0.9;
  display: block;
  margin: auto;
}

.feature-title {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  color: #676f8a;
}

.feature-description {
  margin-top: 1px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  color: rgba(44,62,80,0.6);
}

section.our-partners {
  background: #F8F8F8;
  padding-bottom: 30px;
}

.partner {
  padding: 5px;
}

.partner img {
  display: block;
  margin: auto;
  width: 140px;
}

.partner-link {
  display: block;
  margin: auto;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
}

.view-button {
  border: 1px solid #ffffff;
  line-height: 48px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  width: 170px;
  margin: 10px;
}

.view-button:hover,.view-button:visited {
  color: #ffffff;
  opacity: 0.65;
}

.view-button:link {
  text-decoration: none;
}

.header {
  padding: 22px 0 0 0px;;
}

.view-buttons {
  margin-top: 60px;
}

.features-row {
  padding: 25px;
}

.read {
  color: #282828;
}

@media only screen and (max-width: 768px) {
  .feature-title {
    text-align: center;
  }

  .header-title {
    display: block;
    margin: auto;
    text-align: center;
  }

  .features {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .marketing-desc {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    display: initial;
  }

  .download-buttons {
    margin-top: 40px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links {
    display: grid;
    padding-top: 15px;
  }

  .view-button {
    border: 1px solid #ffffff;
    line-height: 48px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    width: 145px;
    margin: 8.5px;
  }

  .download-buttons-store {
    margin: 8.5px;
  }

  .features-row {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .col-sm-4 {
    padding-top: 15px;
  }

.projects-container .project-item {
    height: 200px;
}

}

//
// large screens
//

@media (min-width: 768px) {
  .marketing {
    text-align: left;
  }

  .app-icon {
    display: inline;
  }
}

//
// more imports
//

@import "devices";