---
---

@import "variables";

//
// BASE
//

html,
body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
  {% if site.background_color %}
  //background-color: {{ site.background_color }};
  {% endif %}

  {% if site.background_image %}
  background: linear-gradient(rgba(59, 61, 64, 0.5), rgba(59, 61, 64, 0.5)), url(../../{{ site.background_image }}) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  {% endif %}

  {% if site.text_color %}
  color: {{ site.text_color }};
  {% endif %}

  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}

a:hover {
  color: #cccccc;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}


//
// LAYOUT / SECTIONS
//

.container {
  max-width: 980px;
}

.main {
  position: relative;
  min-height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer {
  padding-bottom: 50px;
  background-color: #3375BB;
}

//
// Marketing
//

.marketing {
  text-align: center;
}

.app-meta {
  margin-bottom: 20px;
  font-size: 32px;
}

.app-icon {
  display: block;
  margin: 0 auto 10px;
  border-radius: 15px;
  width: 92px;
}

.marketing-desc {
  max-width: 450px;
  font-weight: 250;
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 40px;
}

//
// Download Buttons
//

.download-buttons {
  margin-top: 40px;
  margin-bottom: 40px;
}

.download-buttons-store {
  height: 40px;
}

//
// Social
//

.social {
  text-align: center;
  background-color: #3375BB;
}

.social-links {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.social-links li {
  display: inline-block;
  margin: 12px;
}

.links {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.links li {
  display: inline-block;
  margin: 12px;
}
//
// Device
//

.device {
  margin: auto;
}



.features {
  margin-top: 80px;
  padding: 20px;
  margin-bottom: 50px;
}

.partners {
  background-color: #3375BB;
}

.partners h3 {
  padding: 20px;
}

.feature-image {
  height: 80px;
  opacity: 0.9;
  display: block;
  margin: auto;
}

.feature-title {
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
  color: #676f8a;
}

.feature-description {
  margin-top: 1px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  color: #676f8a;
}

.partner {
  padding: 20px;
}

.partner img {
  display: block;
  margin: auto;
  width: 160px;
}

.partner-link {
  display: block;
  margin: auto;
}

.view-button {
  border: 1px solid #ffffff;
  line-height: 48px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  width: 180px;
  margin: 6px;
}

.header {
  padding: 22px 0 0 0px;;
}

.view-buttons {
  margin-top: 60px;
}

.features-row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.read {
  color: #282828;
}


@media only screen and (max-width: 768px) {
  .feature-title {
    text-align: center;
  }

  .header-title {
    display: block;
    margin: auto;
    text-align: center;
  }

  .features {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .marketing-desc {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    display: initial;
  }

  .download-buttons {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//
// large screens
//

@media (min-width: 768px) {
  .marketing {
    text-align: left;
  }

  .app-icon {
    display: inline;
  }
}

//
// more imports
//

@import "devices";
